<%= form_tag("./search", method: "get") do %>
  <%= label_tag(:name, "Name:") %>
  <%= text_field_tag(:name) %>
  <br/>
  <%= label_tag(:set, "Set:") %>
  <%= text_field_tag(:set) %>
  <div class="form_row">
    <label for="color">Color:</label>
    <% [ 'white', 'blue', 'green', 'black', 'red' ].each do |color| %>
      <br><%= radio_button_tag 'color', color, @color == color %>
      <%= color.humanize %>
    <% end %>
</div>
  <%= submit_tag("Search") %>
<% end %>

