<%= form_for(:card, :html => {:class => 'form-horizontal'}, 
  :url => "./search", method: "get") do |f| %>
 <div class="form-group">
   <label>Name:</label>
      <%= f.text_field :name, :class => 'form-control' %>
    <br/>
    <label>Set:</label>
    <%= f.text_field :release_set, :class => 'form-control' %>
    <br/>

    <% @colors = ['Blue','Red','Green','Black', 'White'] %>
      
      <% @colors.each do |color| %>
        <%= f.label "color_#{color.downcase}" do %>
          <%= f.radio_button :color, color.downcase.humanize %>
          <%= color.humanize %>
        <% end %>
      <% end %>

    <br/>

    <%= f.submit "Search", :class => 'btn btn-primary' %>
  </div>
<% end %>
